<!-- <p> 
	<%= link_to "Back to Dashboard", :back %>
</p> -->
<h1><%= @date.strftime("%B %Y") %></h1>

<%= calendar do |date| %>
	<span class="date"><%= date.day %></span>
	<% all_doses = current_user.get_days_doses(date) %>

	<% unless all_doses.empty? %>
		<dl>
			<% all_doses.keys.sort.each do |time| %>
				<dt><%= time %></dt>
				<% all_doses[time].each do |dose| %>
					<dd><%= link_to dose.title, dose %></dt>
				<% end %>
			<% end %>
		</dl>
	<% end %>
<% end %>