<!-- <p> 
	<%= link_to "Back to Dashboard", :back %>
</p> -->
<h1><%= @date.strftime("%B %Y") %></h1>

<%= calendar do |date| %>
	<span class="date"><%= date.day %></span>
	<% all_doses = current_user.get_days_doses(date) %>

	<% unless all_doses.empty? %>
		<dl>
			<% all_doses.keys.sort.each do |dose| %>
				<dt><%= dose.strftime("%l:%M %p") %></dt>
				<dd><%= link_to all_doses[dose].title, all_doses[dose] %></dt>
			<% end %>
		</dl>
	<% end %>
<% end %>