<!-- <p> 
	<%= link_to "Back to Dashboard", :back %>
</p> -->
<h1><%= @date.strftime("%B %Y") %></h1>

<%= calendar do |date| %>
	<span class="date"><%= date.day %></span>
	<% doses = current_user.get_days_doses(date) %>

	<% unless doses.empty? %>
		<%= render partial: 'days_doses', locals: { doses: doses } %>
	<% end %>
<% end %>