<% if current_user %>
	<p>
		You currently have <%= current_user.reminders.count %> reminders.
	</p>

<div id="new_reminder_btn">
	<p>
		<%= link_to "(+) Add New Reminder", new_reminder_path %> 
	</p>
</div>
	<!-- <p> 
		<%= link_to "View Calendar", "/calendar" %>
	</p>
<% else %> -->

<div> <%= render 'devise/menu/registration_items' %></div>
<div><%= render 'devise/menu/login_items' %></div>
 
<% end %>