<li>
  <%= '<span class="glyphicon glyphicon-envelope"></span>'.html_safe if reminder_rule.emailable %>
  <%= '<span class="glyphicon glyphicon-phone"></span>'.html_safe if reminder_rule.textable %>
  <%= int_to_day_of_week(reminder_rule.day_of_week) %>, at <%= Time.zone.parse(reminder_rule.time_of_day).strftime("%l:%M %p") %> |
	<ul class="horizontal small">
		<li><%= link_to 'Edit', edit_reminder_rule_path(reminder_rule) %></li>
 		<li><%= link_to 'Delete', reminder_rule, method: :delete %></li>
 	</ul>
</li>
