<h1>Edit Your Details</h1>

<%= devise_error_messages! %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<%= render 'form' %>

<section class="sidebar">
  <h2>Cancel Account</h2>
  <p>Canceling your account is an irreversible process. Your data will be completely removed.</p>
  
  <%= label_tag :accept, "#{check_box_tag :accept} I understand that nothing can save a deleted account.".html_safe %>

  <%= button_to "Delete Account Permanently", users_path, { id: 'delete-account', method: :delete, disabled: true }%>
</section>
