<h1>Edit Your Details</h1>

<%= devise_error_messages! %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<section class="form">  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { method: :put }) do |f| %>
    <div class="form-group">
      <%= f.label :name, "Your Name" %>
      <%= f.email_field :name, autofocus: true, class:'form-control', placeholder: "Name" %>
    </div> 

    <div class="form-group">
      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email, autofocus: true, class:'form-control', placeholder: "Email" %>
    </div> 

    <div class="form-group">
      <%= f.label :password, "New Password" %>
      <span class="note">(leave blank if you don't want to change it)</span>
      <%= f.password_field :password, autocomplete: "off", class:'form-control', placeholder: "Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control', placeholder: "Password Confirmation" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password, "Current Password" %>
      <div class="current-password">
        <%= f.password_field :current_password, autocomplete: "off", class:'form-control', placeholder: "Current Password"%>
        <%= f.submit "Update" %>
      </div>
    </div>
  <% end %>
</section>

<section class="sidebar">
  <h2>Cancel Account</h2>
  <p>Canceling your account is an irreversible process. Your data will be completely removed.</p>
  
  <%= label_tag :accept, "#{check_box_tag :accept} I understand that nothing can save a deleted account.".html_safe %>

  <%= button_to "Delete Account Permanently", users_path, { id: 'delete-account', method: :delete }%>
</section>
