<%= form_for(@reminder) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :doses %><br>
    <%= f.number_field :doses %>
  </div>
 
  <div class="field">
    <%= f.label :time_period %><br>
    <%= f.select(:time_period, ["Day", "Week", "Year"]) %>
  </div>
  
  <div class="field">
    <%= f.label :date, "First Dose" %><br>
    <%= date_field nil, :date, value: Date.today %>
    <%= time_field nil, :time, value: Time.zone.now.strftime("%R") %>
  </div>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
