<div class="row">
<div class="col-lg-12 col-lg-offset-4">
    
    <div class="Registration_form">

<%= form_for(@reminder, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
          <div class="col-sm-4">
            <br>
            <%= f.text_field :title, class:'form-control', placeholder:"Medication"%>
          </div>
  </div>

  <div class="form-group">
          <div class="col-sm-4">
   <br>
    <%= f.number_field :doses, class:'form-control', placeholder:"Doses" %>
  </div>
</div>
 
  <div class="form-group">
          <div class="col-sm-4">
    <%= f.label :time_period %><br>
    <%= f.select(:time_period, ["Day", "Week"]) %>
  </div>
</div>
  
  <div class="form-group">
          <div class="col-sm-4">
    <%= f.label :date, "First Dose" %><br>
    <%= date_field nil, :date, value: Date.today %>
    <%= time_field nil, :time, value: Time.zone.now.strftime("%R") %>
  </div>
</div>

  <div class="form-group">
          <div class="col-sm-4">
            <br>
    <%= f.text_area :notes, class:'form-control', placeholder:"Notes" %>
  </div>
</div>
  
  <div class="form-group">
          <div class="col-sm-4">
    <%= f.submit %>
  </div>
</div>
<% end %>

</div>
</div>
</div>

