<tr>
  <td>
  	<%= link_to reminder.title, reminder %>
  </td>
  <td>
  	<%= reminder.doses %>
  </td>
  <td>
  	<%= reminder.days %>
  </td>
  <td>
  	<%= formatted_time(reminder.next_dose) %>
  </td>
  <td>
    <%= formatted_time(reminder.last_dose) %>
  </td>
  <td>
    <%= reminder.notes %>
  </td>
  <td>
		<%= link_to 'Edit', edit_reminder_path(reminder) %>
  </td>
  <td>
	 	<%= link_to 'Delete', reminder, method: :delete %>
	</td>
</tr>