<h1>Reminder</h1>
<p>
  <strong>Title:</strong>
  <%= @reminder.title %>
</p>

<p>
  <strong>Time period:</strong>
  <%= @reminder.time_period %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @reminder.notes %>
</p>

<p>
  <strong>Start:</strong>
  <%= @reminder.start %>
</p>

<p>
  <strong>Number of Doses:</strong>
  <%= @reminder.doses %>
</p>

<hr>

<h2>Dosage Times</h2>
<% if @reminder.reminder_rules.empty? %>
  <p>No Reminder Rules found!</p>
<% else %>
  <% dosage_times = @reminder.enumerate_doses %>
  <ol>
    <% dosage_times.each do |dose| %>
      <li><%= formatted_time(dose) %></li>
    <% end %>
  </ol>
  <% curr_time = Time.zone.now.beginning_of_day %>
  <% end_time = (curr_time + 6.days).end_of_day %>
  <h3>And specifically for the week <%= "#{curr_time.strftime('%A')} the #{curr_time.day.ordinalize} to #{end_time.strftime('%A')} the #{end_time.day.ordinalize}" %></h3>
    <% next_week_times = @reminder.enumerate_doses(curr_time, end_time) %>
    <ol>
    <% next_week_times.each do |dose| %>
      <li><%= formatted_time(dose) %></li>
    <% end %>
  </ol>
<% end %>

<hr>

<h2>Reminder Rules</h2>

<% if @reminder.reminder_rules.empty? %>
  <p>No Reminder Rules found!</p>
<% else %>
  <ul>
    <%= render @reminder.reminder_rules %>
  </ul>
<% end %>

<hr>
<h3>Add a new Reminder Rule</h3>
<% @reminder_rule = ReminderRule.new %>
<%= render 'reminder_rules/form' %>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
