<h1><%= @reminder.title %> <span class="header-links"><%= link_to '(Edit)', edit_reminder_path(@reminder) %></span></h1>

<section class="col-2">
  <h2>About</h2>
  <dl>
    <dt>Number of Doses</dt>
      <dd><%= @reminder.doses %></dd>

    <dt>Start Time</dt>
      <dd><%= formatted_time(@reminder.start) %></dd>

    <% if @reminder.notes.length > 0 %>
      <dt>Notes</dt>
        <dd><%= @reminder.notes %></dd>
    <% end %>
  </dl>

  <div class="export">
    <% if @reminder.exportable? %>
      <%= link_to 'Export to iCalendar', reminder_path(@reminder, format: :ics), class: "button-link" %>
    <% else %>
      <div class="button-link" disabled>Export to iCalendar</div>
    <% end %>
  </div>

  <h2>Dosage Times</h2>
  <% if @reminder.reminder_rules.empty? %>
    <p>No Reminder Rules found!</p>
  <% else %>
    <% dosage_times = @reminder.enumerate_doses %>
    <ol>
      <% dosage_times.each do |dose| %>
        <li><%= formatted_time(dose) %></li>
      <% end %>
    </ol>
  <% end %>
</section>

<section class="col-2">
  <h2>Notification Times</h2>

  <% if @reminder.reminder_rules.empty? %>
    <p class="reminder-notifications">
      No Reminder Rules found!
    </p>
  <% else %>
    <ul class="reminder-notifications">
      <%= render @reminder.reminder_rules %>
    </ul>
  <% end %>

  <h2>Add A New Notification Time</h2>
  <%= render 'reminder_rules/form' %>
</section>
