<h1>Reminder</h1>

<% unless @reminder.reminder_items_setup? %>
  <h3>Reminder items still need to be set up!</h3>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @reminder.title %>
</p>

<p>
  <strong>Num per:</strong>
  <%= @reminder.num_per %>
</p>

<p>
  <strong>Time period:</strong>
  <%= @reminder.time_period %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @reminder.notes %>
</p>

<p>
  <strong>Start:</strong>
  <%= @reminder.start %>
</p>

<p>
  <strong>Number of Doses:</strong>
  <%= @reminder.doses %>
</p>

<hr>

<h2>Dosage Times</h2>
<% dosage_times = @reminder.enumerate_doses %>
<% if dosage_times.nil? %>
  <p>Not all Reminder Items are set!</p>
<% else %>
  <ol>
    <% dosage_times.each do |dose| %>
      <li><%= dose.strftime('%A, %B ') + dose.day.ordinalize + dose.strftime(' @ %l:%M %p %Z') %></li>
    <% end %>
  </ol>
  <% curr_time = Time.now.beginning_of_day %>
  <% end_time = (curr_time + 6.days).end_of_day %>
  <h3>And specifically for the week <%= "#{curr_time.strftime('%A')} the #{curr_time.day.ordinalize} to #{end_time.strftime('%A')} the #{end_time.day.ordinalize}" %></h3>
    <% next_week_times = @reminder.enumerate_doses(curr_time, end_time) %>
    <ol>
    <% next_week_times.each do |dose| %>
      <li><%= dose.strftime('%A, %B ') + dose.day.ordinalize + dose.strftime(' @ %l:%M %p %Z') %></li>
    <% end %>
  </ol>
<% end %>

<hr>

<h2>Reminder Items</h2>

<% if @reminder.reminder_items.count == 0 %>
  <p>No Reminder Items found!</p>
<% else %>
  <%= render @reminder.reminder_items %>
<% end %>

<% unless @reminder.reminder_items_setup? %>
  <h3>Add a new Reminder</h3>
  <% @reminder_item = ReminderItem.new %>
  <%= render 'reminder_items/form' %>
<% end %>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
