<table class="table table-hover table-condensed table-bordered">
<thead>
    <tr>
    <th>User ID #</th>
     <th>Name</th>
     <th>Email</th>
      
      <th></th>
    </tr>
  </thead>
	<tbody>
		<% @users.each do |user| %>
			<tr <%= "class=admin" if user.admin %>>
				<td> <%= user.id %> </td>
				<td> <%= user.name %> </td> 
				<td> <%= user.email %> </td>

				<td> <%= link_to 'View', user %> </td> 
				<br>
			</tr>
		<% end %>
	</tbody>
</table>
