<%= form_for(@reminder_item) do |f| %>
  <% if @reminder_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder_item.errors.count, "error") %> prohibited this reminder_item from being saved:</h2>

      <ul>
      <% @reminder_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_of_day %><br>
    <%= f.time_field :time_of_day %>
  </div>
  <div class="field">
    <%= f.label :day_of_week %><br>
    <%= f.select(:day_of_week, [["Everyday",7], ["Sunday",0], ["Monday",1], ["Tuesday",2], ["Wednesday",3], ["Thursday",4], ["Friday",5], ["Saturday",6]]) %>
  </div>

  <% if @reminder %>
    <%= f.hidden_field :reminder_id, value: @reminder.id %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
