<h1>Listing reminder_items</h1>

<table>
  <thead>
    <tr>
      <th>Reminder</th>
      <th>Day of Week</th>
      <th>Time of Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reminder_items.each do |reminder_item| %>

      <tr>
        <td><%= reminder_item.reminder.title if reminder_item.reminder %></td>
        <td><%= reminder_item.day_of_week %></td>
        <td><%= reminder_item.time_of_day %></td>
        <td><%= link_to 'Show', reminder_item %></td>
        <td><%= link_to 'Edit', edit_reminder_item_path(reminder_item) %></td>
        <td><%= link_to 'Destroy', reminder_item, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reminder item', new_reminder_item_path %>
