<p id="notice"><%= notice %></p>

<p>
  <strong>Taken:</strong>
  <%= @reminder_item.day_of_week %>
</p>

<p>
  <strong>Missed:</strong>
  <%= @reminder_item.time_of_day %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @reminder_item.reminder.title if @reminder_item.reminder %>
</p>

<%= link_to 'Edit', edit_reminder_item_path(@reminder_item) %> |
<%= link_to 'Back', reminder_items_path %>
