<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header hidden-xs">
      <%= render 'layouts/logo' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li class="hidden-xs"><p class="navbar-text">Welcome, <%= current_user.name %></p></li>
        <%= render 'layouts/navbar/current_reminders' %>
        <li class="logout hidden-xs"><%= link_to '<span class="glyphicon glyphicon-log-out"></span> Log Out'.html_safe, destroy_user_session_path, method: :delete %></li> 
      <% else %>
      	<%= render 'layouts/navbar/login' %>
      <% end %>
      <%= render 'layouts/navbar/menu' %>
    </ul>    
  </div><!-- /.container-fluid -->
</nav>