<li><%= link_to 'Dashboard', root_path, method: :get %></li>

<li class="divider"></li>

<li><%= link_to 'Calendar', calendar_path, method: :get %></li>
<li><%= link_to 'Reminders', reminders_path, method: :get %></li>
<li><%= link_to 'Settings', edit_user_registration_path, method: :get %></li>

<li class="divider"></li>

<% if current_user.admin %>
	<li><%= link_to 'View All Users', users_path, method: :get %></li>
	<li class="divider"></li>
<% end %>

<li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li> 