<!DOCTYPE html>
<html>
<head>
  <title>MDLive Prescriptions</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>

<body>
<%= render 'layouts/navbar/navbar' %>

<section class='container'>
  <% if notice %>
    <div class="popup notice">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
  <% end %>
  <% if alert %>
    <div class="popup alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
  <% end %>

  <nav class="content-nav"> 
    <ul>
      <%= if current_user
        render 'layouts/tabs_logged_in' 
      else
        render 'layouts/navbar/menu_logged_out'
      end %>
    </ul>
  </nav>

  <section class='content-container'>
    <article <%= "id=#{controller_name}-#{action_name}" %> class="content">
      <%= yield %>
    </article>
  </section>
</section>
</body>
</html>
