<!DOCTYPE html>
<html>
<head>
  <title>MDLive Prescriptions</title>
  <!-- this is my bootstrap below  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<span class="glyphicon glyphicon-align-justify" id='menu-glyph'></span>
<div class="hmenu">
<div> <%= render 'devise/menu/registration_items' %></div>
<div><%= render 'devise/menu/login_items' %></div>
</div>

<div class="container">

<h1>MD LIVE Reminder App</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</div>
</body>
</html>
