<!DOCTYPE html>
<html>
<head>
  <title>MDLive Prescriptions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<h1>MD LIVE <br><br> Reminder App</h1>
<div class="hmenu">
 <div> <%= render 'devise/menu/registration_items' %></div>
  <div><%= render 'devise/menu/login_items' %></div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
